body {
    background-color: #5852c4;
}

.slider-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cats {
    position: relative;
    display: flex;
    align-items: center;
    height: 600px;
    width: 390px;
    overflow: hidden;
    transition: all 1s ease;
}

.cats div.cat {
    position: relative;
    float: left;
    height: 150px;
    width: 50px;
    margin: 15px;
    overflow: hidden;
    transition: all 1s ease;
}

.cats div.cat.selected {
    height: 600px;
    width: 200px;
}

.cats div.cat img {
    position: absolute;
    left: 50%;
    transform: translateX(-44%);
    height: 100%;
}

.arrow-slider {
    font-size: 45px;
    font-weight: 900;
    cursor: pointer;
}